@tailwind base;

@tailwind components;

@tailwind utilities;

.cool {
    background-color: rgba(255, 255, 255, 0.3);
}

.scrul {
    overflow-y: scroll
}

/* scroll*/

.custom-scroll::-webkit-scrollbar {
    width: 7px;
    height: auto;
}

.custom-scroll::-webkit-scrollbar-button {
    width: 3px;
    height: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #9f7aea;
    border: 17px none #9e3bab;
    border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-thumb:active {
    background: #000000;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #ffffff;
    border: 9px none #9f45bf;
    border-radius: 50px;
}

.custom-scroll::-webkit-scrollbar-track:hover {
    background: #ffffff;
}

.custom-scroll::-webkit-scrollbar-track:active {
    background: #9f7aea;
}

.custom-scroll::-webkit-scrollbar-corner {
    background: transparent;
}

/* BIG LOADER */
.loader-dots div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-dots div:nth-child(1) {
    left: 8px;
    animation: loader-dots1 0.6s infinite;
}

.loader-dots div:nth-child(2) {
    left: 8px;
    animation: loader-dots2 0.6s infinite;
}

.loader-dots div:nth-child(3) {
    left: 32px;
    animation: loader-dots2 0.6s infinite;
}

.loader-dots div:nth-child(4) {
    left: 56px;
    animation: loader-dots3 0.6s infinite;
}

@keyframes loader-dots1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loader-dots3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes loader-dots2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}